@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);
@import url(./__figure/lead__figure.css);
@import url(./__image-caption/lead__image-caption.css);
@import url(./__image/lead__image.css);

.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin: 0 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
.lead {
  margin: 0;
}
}
