.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__link:hover {
  opacity: .8;
  transition: opacity .20s ease;
}

@media screen and (max-width: 742px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin-right: 0;
  }
}
