.footer__links {
  display: flex;
  align-items: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

@media screen and (max-width: 320px) {
.footer__links {
  display: flex;
  flex-direction: column;
}
}
