@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-font-normal/intro__list-font-normal.css);

.intro {
  max-width: 690px;
  padding-left: 148px;
  margin: 92px 0 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding: 0 24px;
    margin: 88px 0 88px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    box-sizing: content-box;
    padding: 0 16px;
    margin: 64px 0 64px;
  }
}
