@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-font-normal/);

.intro {
  max-width: 690px;
  padding-left: 148px;
  margin: 92px 0 92px;
}
