@import url(../vendor/normalize.css);

@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/places/places.css);
@import url(..//blocks/cover/cover.css);
@import url(../blocks/footer/footer.css);

@media screen and (max-width: 1024px) {
  .header {
    margin: 0 48px 48px;
  }

  .lead {
    margin: 0 48px 0;
  }

  .lead__subtitle {
  margin: 0 auto 56px;
  }

  .intro {
    padding-left: 48px;
  }

  .photo-grid__cell {
    grid-gap: 14px;
  }

  .places {
    max-width: 928px;
  }

  .place {
    grid-template-columns: repeat(2, minmax(440px, 1fr));
    grid-column-gap: 32px;
    grid-row-gap: 48px;
    margin-bottom: 80px;
  }

  .cover {
    margin: 0 0 92px;
  }

  .cover__link {
    max-width: 1024px;
    min-height: 640px;
    margin: 0;
  }

  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0 24px 48px;
  }

  .lead {
    margin: 0;
  }

  .lead__subtitle {
    margin: 0 auto 56px;
  }

  .intro {
    max-width: 720px;
    padding: 0 24px;
    margin: 88px 0 88px;
  }

  .photo-grid__cell {
    padding: 0 24px;
    grid-gap: 16px;
    margin-bottom: 88px;
  }

  .places {
    max-width: 720px;
    margin: 0 auto 88px;
  }

  .place {
    grid-template-columns: repeat(2, minmax(340px, 1fr));
    grid-column-gap: 28px;
    margin-bottom: 72px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .cover {
    margin-bottom:  88px;
  }

  .cover__link {
    max-width: 768px;
    min-height: 480px;
  }

  .footer {
    max-width: 720px;
  }

}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 16px;
    margin: 0 16px 48px;
  }

  .header__logo {
    max-width: 142px;
  }

  .header__lang-link {
  font-size: 18px;
  line-height: 24px;
  }

  .lead {
    margin: 0;

  }

  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    margin: 0 auto 16px;
  }

  .lead__subtitle {
    max-width: 288px;
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 20px;
  }

  .intro {
    max-width: 288px;
    box-sizing: content-box;
    padding: 0 16px;
    margin: 64px 0 64px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .photo-grid__cell {
    padding: 0 16px;
    grid-gap: 12px;
    margin-bottom: 64px;
  }

  .place {
    grid-template-columns: minmax(320px, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 0;
    margin-bottom: 48px;
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
    margin-bottom: 32px;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    padding: 0 16px;
  }

  .place__website {
    display: none;
  }

  .cover {
    margin-bottom: 64px;
  }

  .cover__link {
    max-width: 320px;
    min-height: 200px;
  }

  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 360px;
  }

  .footer {
    max-width: 186px;
    flex-direction: column;
    padding-bottom: 24px;
    padding-left: 16px;
    margin: 0;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
  }

  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin-right: 0;
  }

  .footer__link-margin {
    margin-bottom: 32px;
  }

  .footer__link-margin:last-of-type {
    margin-bottom: 48px;
  }
}

