.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  max-width: 560px;
  margin: auto auto 32px;
}

@media screen and (max-width: 612px) {
  .cover__title {
    font-size: 62px;
    line-height: 66px;
  }
}

@media screen and (max-width: 464px) {
  .cover__title {
    font-size: 48px;
    line-height: 52px;
  }
}

@media screen and (max-width: 375px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
